.buildpath
.settings/
.project
*.patch
.idea/
.git/
runtime/
vendor/
*.lock
.phpintel/
.env
.phpstorm.meta.php
.DS_Store
Swoft/
public/devtool/
bin/php-cs-fixer
HdbDown/bin/config.ini
HdbDown/bin/log/
HdbDown/log/